body {
    background-color: rgb(0, 134, 136);
    color: rgb(255, 251, 243);
    display: flex;
    justify-content: center;
    text-align: center;
}

h1 {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 60px;
    margin-bottom: 0px;
}

h2 {
    font-weight: normal;
    padding: 0px;
    margin-top: 0px;
}

a {
    color: white;
}

.buttons {
    text-align: center;
    display: grid;
    grid-template-rows: 33% 33% 33%;
    width: 20px;
    height: 100px;
    margin-top: 210px;
}

.footer, nav {
    text-align: center;
}

#game-container {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 400px;
}