@keyframes slideDown {
    0% {
      transform: translateY(-500%);
    }
    100% {
      transform: translateY(0);
    }
  }

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body {
    background-image: url('images/black-background.jpg');
    background-size: cover;
    color: rgb(255, 249, 251);
    display: flex;
    justify-content: center;
    text-align: center;
}

h1 {
    font-family: 'Nothing You Could Do', cursive;
    color: rgb(255, 225, 229);
    font-size: 60px;
    margin-bottom: 0px;
    margin-top: 10px;
}

h2 {
    animation: 1s ease-out 0s 1 slideDown;
    font-weight: normal;
    font-family: Avenir;
    padding: 0px;
    margin-top: 0px;
}

a {
    color: white;
}

img {
    width: 155px;
}

.buttons {
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 175px;
    height: 35px;
    margin: 35px auto 30px auto;
}

.footer, nav {
    text-align: center;
}

#start-button, #reset-button {
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(255, 221, 226);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 13px;
}

#game-container {
    animation: 2s ease-in 0s fadeIn;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-bottom: 50px;
}

#win-box {
    margin-top: 50px;
}

#attempts-and-matches {
    border: 2px solid rgb(255, 231, 243);
    border-radius: 40px;
    width: 255px;
    background-color: black;
    margin: 30px auto 20px auto;
}